<?xml version="1.0"?>
<model>
  <name>dmmf_drone</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Michela La Pietra</name>
    <email>mic.lapietra@studenti.unina.it</email>
  </author>
  <description>Drone for Homework 3 of Robotics Lab</description>
</model>
